body {
    background: rgb(204,204,204);
}
page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    font-family: "Times New Roman", Times, serif;
    font-size: 13px;

}
page[size="A4"] {
    width: 21cm;
    height: 29.7cm;
}
page[size="A4"][layout="landscape"] {
    width: 29.7cm;
    height: 21cm;
}
page[size="A3"] {
    width: 29.7cm;
    height: 42cm;
}
page[size="A3"][layout="landscape"] {
    width: 42cm;
    height: 29.7cm;
}
page[size="A5"] {
    width: 14.8cm;
    height: 21cm;
}
page[size="A5"][layout="landscape"] {
    width: 21cm;
    height: 14.8cm;
}

.peleza{
    padding: 3mm 5mm 3mm 5mm;
}
@media print {
    body, page {
        margin: 0;
        box-shadow: 0;
    }
    .row {
        position: relative;
    }
}

/* Colors */
.dark-text{
    color: #0a4157;
}

.dark{
    background-color: #0a4157!important;
    color: white
}
.primary{
    background-color: #9db3bc!important;
}
.light{
    background-color: #ced9dd;
}

.secondary{
    background-color: #e7edb6;
}
.secondaryLight{
    background-color: #f8caac;
}

.red{
    background-color: #ff0000;
}

.darkred{
    background-color: #b80000;
}

.color-1{
    background-color: #d9d9d9;
}

.color-2{
    background-color: #f2f2f2;
}

.color-2{
    background-color: #f2f2f2;
}

.center{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.box {
    width: 750px;
    height: auto;
    padding: 5px 10px 0px 10px;
    border: 2px solid black;
    box-sizing: border-box;
}

.box-full {
    width: 750px;
    height: 24cm;
    padding: 5px 10px 0px 10px;
    border: 2px solid black;
    box-sizing: border-box;
}

.clearfix {
    overflow: auto;
}

.disclaimer{
    font-size: xx-small!important;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: 0px;
}

.p-finger{
    width: 120px;
    height: 200px;
}
.table{
    text-align: center!important;
}

.underline{
    text-decoration: underline;
}

div.fixed {
    position: fixed;
    width: 50%;
    bottom: 10px;
    border: 3px solid #8AC007;
}

.main{
    display: flex;
    height: auto;
    align-items: center;
    padding-bottom: 15px;
}

.main1{
    background-color: #e7edb6;
    width: 200px;
    text-align: center;
}
.main2{
    background-color: #9db3bc;
    width: 200px;
    border: 1px solid;
}

.table > tbody > tr > td {
    vertical-align: middle!important;
}

.peleza-striped tr:nth-child(even) {background-color: #d0dbf0!important;}


